<div>
    <h2>About Me</h2>
    <p>I'm a Front End Software Engineer with a touch of DevOps. I know both React.js and Ember.js <br />
        I love being creative and designing things into a cohesive, beautiful final product.

        Being a Front End Engineer in FinTech lets me blend my love for business, and love for good design and
        creativity.
    </p>
</div>