<div>
    <ul>
        <li>Phone: (801)427-8161</li>
        <li>Email: amberlyharris91@gmail.com</li>
        <li>North Salt Lake, Utah</li>
        <li>84054</li>
    </ul>
    <p>
        Let's get in touch!
    </p>
</div>